sudo: required
language: java
jdk: oraclejdk8
env:
  global:
  - secure: yJMNJZJ+cJPmmZrt9dCVCpww8sCuE4MzJf67PlMa0OUakg0C9f7aDcwG+h3B4TdBubWQZy4G3SkT1RUjFx2eMpLGus4PrfKctLUYG3PwO7RBOJoGh8nBp+oLtyS1ITCHI+uEjLOHM8ZIMYAO/m8X6u38VGzicZxBJl/0oTKq9Pb2JX6csgJKcfpJg2LQFmBGoDTDkFa5tHge3Vm648l87tyGjgx4SuS1TOARsRY8SWKWzdPci11i7wug0tGJiS/7J6V2JMBB+WcMvoItpP8ddG1tvBe/dHeoKvf0NRAbqyuBDtohyZc4S1GWZJ5XTMaaNcEShuW1KKaqD6q+NjMcM6WUmNTldlQuJjWQxlFdA1pbNu5ECZZZDF/3Dwt1r1SmTBFxmRxnzYkxUFwA5IDtxTW5gjSygjpr6/uDRurxB/br8oujvayzYf/hZmoFjc+xwSNhhMqTtZ74CcrkRvVRJaXVzuPtXVPy0QAeA6fPwTAjLFMqBHn0Rci9ZGZKXWY0+ns5hbMfRVcBL7aZUE+B29B45J4p81KDE87g9NZn+pGomXHfVk9zqZYtTBYPBXtJwHtT0mM4eyIIJAW/bIhJJz2bPL8Dtc5IdPi40UYHLRA1NSe/qetMCwliN38cmUQaKzgJGk2E08bxO/LZ/K0ErhVXVwLFrGkoprqN81cc+yA=
  - secure: w6V2STwKmQgxF4SNwwQ7/hYUg0Ccwi0wwS1w5o3Fo5Lr7zwqV0ggb0gXgNrF9qfrX8h3p02laYnaD8vwWZJXIMjsfQ63lEcX10vqAHEi4dqt/cWjlA5JeEjYJqCaEXU4EHP0X+Q1DGOOAuLEJ5BzNw9MMd0a5Pd6EznYG0nHMlkjMzMiUyl97MJI0DjGqz1OadqCPyHuDHKRgZ60dCND9cn2abwf2At8eXKJLYwD3+J4ueG+8cpTqNd8iCmH3BkaaRyoUMEs6G6NsfLaZm7g9Tg1Kjrak7f2n7PJ1NOD40civOJ4O/KeW6yrFgT/8HT1yFDz4LYei4HyxbMfNepzfAXZbauEy+SXPAH9EQJVj7+VTYaCP9Ihd4ziGthRaL9OEeGgqcbkcI4rBzgqz+j22jdAxDb8aIMMe0G+Uvy/nHP16jFh+783cneqc4aXqI+fyd4wG3i/12ZpcBBeKmt6utvCzp0ksXe9lW5lQ8TkZb9pCCB7DXSvYYbKXDF9s5OnNLBmwtDZknK0va9wcr2mPMtRLdql7QmFcZCRtjXcFgie3M363aEuy7CNbSZNjAyCZj/I5FYyot02bfW6HeTPevSOiBxTM4TjQDkCSux+QNmkHjYOyJJRPZ0OQ0dbTGYCnHZ7i/6Dadp8GoSIRVqD9hutEa8lX23Ule9R2H9U7HA=
  - CXX=g++-4.8
  - CF_APP=wanify
script:
- sudo mkdir /mvnbuild
- mvn -Dmaven.wagon.http.ssl.insecure=true -Dmaven.wagon.http.ssl.allowall=true -P cloud-integration-tests clean install -Denv.CF_API=$CF_API -Denv.CF_ORGANIZATION=$CF_ORGANIZATION -Denv.CF_SPACE=$CF_SPACE -Denv.CF_USERNAME=$CF_USERNAME -Denv.CF_PASSWORD=$CF_PASSWORD

- 'if [ $TRAVIS_TEST_RESULT -eq 0 ]; then
 chmod +x ./cf_blue_green_travis.sh;
 sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test;
 sudo apt-get -qq update;
 sudo apt-get -qq install g++-4.8;
 sudo ./cf_blue_green_travis.sh;
fi'